.category {
  background-color: green;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}
.product {
  background-color: yellowgreen;
  margin-left: 10px;
  margin-top: 10px;
}
.page {
  display: flex;
}
