<div class="row">
    <div class="flex-sm-column">

        <div *ngFor="let product of products" class="card" style="width: 10rem;">
            <img class="card-img-top" src="../../../../content/images/products/book-luv2code-1000.png"
                 alt="Card image cap"><img/>

            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="#" class="btn btn-primary">Add to basket</a>

            </div>
        </div>
    </div>
</div>
